#nav{
    height: 120px;
}
#nav .wrapper{
    height: 100%;
    background: lightgray;
    overflow: hidden;/*解决logo的上边距带动wrapper的问题*/
}
#logo{
    width: 190px;
    height: 46px;
    background: url(../img/sprite.png) no-repeat;
    margin-top: 37px;
}
#nav ul{

}
#nav li{
    float: left;
}
#nav a{
    font-family: Tahoma;
    font-size: 15px;
    color: #626262;
    float: left;
}
#nav span{
    display: block;
    width: 2px;
    height: 14px;
    background: url(../img/sprite.png) ;
    float: right;
    margin: 0 20px;
}