body{
    /*导航栏遮挡内容*/
    padding-top: 70px;
    padding-bottom: 70px;
    /*充满整个屏幕*/
    position: relative;
    bottom: 0;
}
.media p{
    /*溢出文本用省略号替代*/
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    /*-------------------*/
    margin-bottom: 0;
}
#user-order-footer ul{
    position: absolute;
    bottom: 0;
    right: 0;
}
#pay{
    position: fixed;
    width: 100%;
    margin-bottom: 0;
    bottom: 50px;
    display: none;
}
#myAlert{
    position: fixed;
    width: 100%;
    top: 50px;
    z-index: 1;
    display: none;
}

/*  修改日历控件 */
/*移除向下箭头*/
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}
/*移除叉叉按钮*/
input[type="date"]::-webkit-clear-button{
    display:none;
}
/*移除焦点颜色*/
input{
    outline: none;
}

