body{
    /*导航栏遮挡内容*/
    padding-top: 70px;
    padding-bottom: 70px;
    /*充满整个屏幕*/
    position: relative;
    bottom: 0;
}
.media p{
    /*溢出文本用省略号替代*/
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    /*-------------------*/
    margin-bottom: 0;
}
#user-order-footer ul{
    position: absolute;
    bottom: 0;
    right: 0;
}
#pay{
    position: fixed;
    width: 100%;
    margin-bottom: 0;
    bottom: 50px;
    display: none;
}
#myAlert{
    position: fixed;
    width: 100%;
    top: 50px;
    z-index: 1;
    display: none;
}
