body{
    padding-top: 50px;
}
/*–≠“È*/
#protocolModal .modal-title{
    text-align: center;
}
.well{
    margin-bottom: 0;
}
.pagination{
    margin: 0;
    width: 100%;
}
.pagination li a{
    border: 0;
}
.pagination img{
    width: 30px;
    height: 30px;
}