#upload-picture{
    width: 100%;
    margin-bottom: 10px;
}
#upload-picture img{
    width: 60px;
    height: 60px;
    border: 1px solid gray;
    border-radius: 50%;
}
#myAlert{
    position: fixed;
    width: 100%;
    top: 50px;
    z-index: 1;
    display: none;
}
/*修改上传照片按钮*/
.file {
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    color: #1E88C7;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
}
.file input {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
/*----------------------*/
.list-group-item input{
    display: inline-block;
    border: none;
    outline: medium;
    color: gray;
    text-indent: 5px;
}
body{
    position: relative;
    padding-bottom: 50px;
    bottom: 0;
}
#save{
    position: fixed;
    bottom: 0;
}