.register-link{
    width: 20px;
    background: url(../img/register.png) no-repeat center;
}
.navbar-title{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
/*分页*/
#bottom-nav{
    border-top: 1px solid lightgray;
    width: 100%;
    position: fixed;
    bottom: 0;
    margin-bottom: 0;
    background: white;
}
#bottom-nav li a{
    border: 0;
    color: gray;
}
#bottom-nav li a:hover{
    color: lightgreen;
}
#bottom-nav .glyphicon{
    display: block;
    width: 100%;
    text-align: center;
}
/*去除点击过的链接的下划线*/
a:focus{
    text-decoration: none;
}
/*修改表单控件input的字体颜色*/
.form-control{
    color: lightgray;
}
/*去除input的蓝色焦点*/
.form-control:focus{
    border-color: inherit;
    box-shadow: none;
}
/*去除button的黄色焦点*/
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus{
    outline: none;
}