body{
    padding: 50px 0;
    background: lightgray;
}
.navbar{
    margin: 0;
}
#search{
    background: white url(../img/search.png) no-repeat 10px center;
    text-indent: 20px;
    border-radius: 20px;
}
#search:focus{
    border-color: transparent;
}
#nurse-filter{
    margin: 0;
    background: #f8f8f8;
}
#nurse-filter .dropdown{
    padding: 0;
    text-align: center;
}
#nurse-filter .dropdown-menu{
    min-width: 80px;
}
.media{
    padding: 5px 0;
    background: white;
    margin-top: 5px;
}
.media .media-object{
    border-radius: 50%;
}
.media p{
    /*溢出文本用省略号替代*/
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    /*-----------------*/
    margin: 0;
}
.star{
    width: 120px;
    height: 15px;
    background: url(../img/star-matrix.gif) no-repeat;
    text-align: right;
}
