*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    border: 0;
}
#container1,#container2,#container3,#container4{
    float: left;
    padding: 20px;
}