*{
    margin: 0;
    padding: 0;
    color: #777777;
    font-size: 14px;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    border: 0;
}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.clearfix::before{
    content: '';
    display: block;
    clear: both;
}
.wrapper{
    width: 1000px;
    margin: 0 auto;
}
body{
    height: 2000px;
}
